*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

.navigation{
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-left: 10px;
  margin-right:10px;
}

.navigation nav ul{
  display:flex;
  align-items:center;
  justify-content:space-between;
  list-style:none;
}

.navigation nav ul li{
  padding:10px;
  margin:10px;
}

.navigation nav ul li a{
  text-decoration:none;
  color:black;
  text-transform: uppercase;
  font-size:16px;
}
.navigation nav ul li a:hover{
  color:#fff;
  background:#111;
  border:2px solid #fff;
  border-radius: 8px;
  padding:10px;
  transition:all 1s ease-in-out;
  transition-delay: 0.5s;
}

.logo{
  background:#111;
  color:#fff;
  padding:5px;
  margin:2px;
  border-radius:8px;
}

.logo:hover{
  color:white;
  background:gold;
  border:none;
  cursor:pointer;
  transition: all 1s ease-in;
}

.hero{
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url(/images/barry1.jpg);
  background-size: cover;
  overflow:hidden;
  height:450px;
  margin-left:10px;
  margin-right: 20px;
}
.hero-info{
  margin-top:00px;
}

.hero-info h3{
  font-size:80px;
  color:#fff;
}

.hero-links{
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
padding:5px;
}

.hero-links p{
  font-size:26px;
  color:#fff;
}

.hero-link{
  padding:20px;
}

.hero-link a{
  text-decoration:none;
  background:#fff;
  padding:10px 30px;
  color:#111;
  font-size:20px;
  border-radius:8px;
  border:none;
}

.hero-links a:hover{
  color:#fff;
  background:gold;
  border:none;
  transition: all 1s ease-in-out;
}

.auto-input{
  color:gold;
}

.container{
  background-image: url(/images/barry1.jpg);
  height:710px;
  background-size:cover;
  margin-left:10px;
  margin-right: 20px;
  overflow:hidden;
  margin-top:10px;
}

.container .skills-title h3{
  color:white;
  margin-left:20px;
  margin-top:10px;
  font-weight:400;
  font-size:26px;
}

.container .skills-cont{
  background:white;
  margin:20px 20px;
  padding:10px;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap:5px;
}

.skills-cont .skill,.project{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  margin-top:10px;
  margin-left:20px;
  margin-right:20px;
  border:2px solid black;
}

.skill-info,.project-info{
  padding:2px;
}

.skill-img,.project-img,.about-img{
  padding:5px;
  margin:20px;

}

.skill-img img,.project-img img{
  width:100px;
}

.container2{
  background-image: url(/images/background1.jpg);
  height:450px;
  background-size:cover;
  margin-left:10px;
  margin-right: 20px;
  overflow:hidden;
  margin-top:10px;
}

.container2 .projects-title h3,.about-title h3,.contact-title h3{
  color:#fff;
  font-size:26px;
  font-weight:400;
  margin-left:20px;
}

.projects-cont{
  background:#fff;
  margin:20px 20px;
  padding:10px;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap:5px;
}

.project-name{
  color:gold;
}

.container3{
  background-image: url(/images/barry1.jpg);
  height:450px;
  background-size:cover;
  margin-left:10px;
  margin-right: 20px;
  overflow:hidden;
  margin-top:10px;
  padding-top:20px;
}

.about-cont{
  background:#fff;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  margin:20px 20px;
  padding:10px;
  border-radius:8px;
}

.about-img{
  padding:50px;
}

.about-img img{
  width:150px;
  border-radius: 8px;
}
span{
  margin-left:15px;
}

.social{
  background-image: url(/images/barry1.jpg);
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: row;
  padding:20px;
  border-radius: 8px;
}

.social div{
  color:white;
  padding:10px;
  margin:10px;
  font-size: 20px;
}

.social a{
  text-decoration: none;
  color:#fff;
  padding:5px;
}

.social a:hover{
  color:gold;
  transition: all 3s ease-in-out;
}

.social-icon i{
  padding:10px;
}

.container4{
  background-image: url(/images/barry1.jpg);
  background-size:cover;
  height:500px;
  margin-left:10px;
  margin-right: 20px;
  overflow:hidden;
  margin-top:10px;
  padding-top:20px;
}

.contact-cont{
  background:#fff;
  margin-left:20px;
  margin-right:10px;
  border-radius:8px;
  padding:20px;
  display:grid;
  grid-template-columns:70% 30%;
}